This notebook is sectioned by heading. There is a 'Tyler' section and a 'David' section. If we put our stuff in only our own section, we should be able to work on the same notebook with no issues.

In [15]:
# library imports
import pandas as pd

In [ ]:
# GNRL is 6 gigabytes - too big
#record_general = pd.read_csv('data/OP_DTL_GNRL_PGYR2015_P01172017.csv')
# RSRCH has hundred of bad columns - not good for class
#record_research = pd.read_csv('data/OP_DTL_RSRCH_PGYR2015_P01172017.csv')
# REMOVED has very little data, so we're ignoring it for now
#record_removed = pd.read_csv('data/OP_REMOVED_DELETED_PGYR2015_P01172017.csv')

In [6]:
record_ownership = pd.read_csv('data/OP_DTL_OWNRSHP_PGYR2015_P01172017.csv')
record_ownership.shape

(4319, 29)

In [7]:
record_ownership.head()

,Change_Type,Physician_Profile_ID,Physician_First_Name,Physician_Middle_Name,Physician_Last_Name,Physician_Name_Suffix,Recipient_Primary_Business_Street_Address_Line1,Recipient_Primary_Business_Street_Address_Line2,Recipient_City,Recipient_State,...,Value_of_Interest,Terms_of_Interest,Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country,Dispute_Status_for_Publication,Interest_Held_by_Physician_or_an_Immediate_Family_Member,Payment_Publication_Date
0,UNCHANGED,333118,Kelvin,NaN,Higa,NaN,205 E River Park Circle,Ste 460,Fresno,CA,...,733.26,Not Publicly Traded - Common. 409a estimated ...,"Endogastric Solutions, Inc",100000010963,"Endogastric Solutions, Inc",WA,United States,No,Physician Covered Recipient,01/17/2017
1,UNCHANGED,270405,Spencer,NaN,Holover,NaN,3003 New Hyde Park Rd,Ste 307,New Hyde Park,NY,...,3070.52,Not Publicly Traded - Preferred. 409a estim...,"Endogastric Solutions, Inc",100000010963,"Endogastric Solutions, Inc",WA,United States,No,Physician Covered Recipient,01/17/2017
2,UNCHANGED,4927,Shawn,NaN,Garber,NaN,3003 New Hyde Park Rd,Ste 307,New Hyde Park,NY,...,12282.66,Not Publicly Traded - Preferred. 409a estim...,"Endogastric Solutions, Inc",100000010963,"Endogastric Solutions, Inc",WA,United States,No,Physician Covered Recipient,01/17/2017
3,UNCHANGED,132587,Yu-Guang,NaN,He,NaN,5323 Harry Hines Blvd.,NaN,Dallas,TX,...,330940.54,Direct ownership,"Vital Art and Science, LLC",100000005370,"Vital Art and Science, LLC",TX,United States,No,Physician Covered Recipient,01/17/2017
4,UNCHANGED,885629,Allan,NaN,Deutsch,NaN,345 E 80th St,NaN,New York,NY,...,1548787.00,fifty percent owner in reporting entity,ESSENTIAL DENTAL SYSTEMS INCORPORATED,100000005369,ESSENTIAL DENTAL SYSTEMS INCORPORATED,NJ,United States,No,Physician Covered Recipient,01/17/2017

## Tyler Section

#### Check to see how many doctors have multiple investments in healthcare industries

In [24]:
doctors = pd.DataFrame([])
doctors['ID'] = record_ownership['Physician_Profile_ID']
doctors['First_Name'] = record_ownership['Physician_First_Name']
doctors['Middle_Name'] = record_ownership['Physician_Middle_Name']
doctors['Last_Name'] = record_ownership['Physician_Last_Name']

doctors.shape

(4319, 4)

In [26]:
doctors.head()

       ID First_Name Middle_Name Last_Name
0  333118     Kelvin         NaN      Higa
1  270405    Spencer         NaN   Holover
2    4927      Shawn         NaN    Garber
3  132587   Yu-Guang         NaN        He
4  885629      Allan         NaN   Deutsch

In [29]:
# sort by IDs (unneccessary)
doctors_sorted = doctors.sort_values('ID')
doctors_sorted.head()

        ID First_Name Middle_Name   Last_Name
3815   359    Douglas           K  Blacklidge
3919   571     Thomas           W   Childress
4204   869    Szilard         NaN        Kiss
3864  1073      Kevin         NaN  Gancarczyk
732   1182       ERIC           A       PIZZA

In [35]:
# count the unique IDs
uniq = len(doctors.ID.unique())
total = doctors.shape[0]
print str(uniq) + " unique physicians in data set of " + str(total) + " observations."
print str(total - uniq) + " observations are associated with physicians with 2 or more investments."

3870 unique physicians in data set of 4319 observations.
449 observations are associated with physicians with 2 or more investments.

## David Section

In [9]:
record_ownership.columns.values
len(record_ownership)
#record_ownership['Program_Year'].unique()
#record_ownership['Terms_of_Interest'].head(25)
#record_ownership['Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name'].head(25)
#record_ownership['Interest_Held_by_Physician_or_an_Immediate_Family_Member'].head(25)

array(['Change_Type', 'Physician_Profile_ID', 'Physician_First_Name',
       'Physician_Middle_Name', 'Physician_Last_Name',
       'Physician_Name_Suffix',
       'Recipient_Primary_Business_Street_Address_Line1',
       'Recipient_Primary_Business_Street_Address_Line2', 'Recipient_City',
       'Recipient_State', 'Recipient_Zip_Code', 'Recipient_Country',
       'Recipient_Province', 'Recipient_Postal_Code',
       'Physician_Primary_Type', 'Physician_Specialty', 'Record_ID',
       'Program_Year', 'Total_Amount_Invested_USDollars',
       'Value_of_Interest', 'Terms_of_Interest',
       'Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name',
       'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID',
       'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name',
       'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State',
       'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country',
       'Dispute_Status_for_Publication',
       'Interest_Held_by_Physician_or_an_Immediate_Family_Member',
       'Payment_Publication_Date'], dtype=object)

In [21]:
Geography = record_ownership[['Recipient_Primary_Business_Street_Address_Line1', 'Recipient_Primary_Business_Street_Address_Line2', 
                             'Recipient_City', 'Recipient_State', 'Recipient_Zip_Code', 'Recipient_Country', 'Recipient_Province', 
                             'Recipient_Postal_Code', 'Physician_Primary_Type', 'Physician_Specialty', 'Total_Amount_Invested_USDollars',
                             'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State',
                             'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country',
                             'Dispute_Status_for_Publication'
                            ]]

Geography.head()

,Recipient_Primary_Business_Street_Address_Line1,Recipient_Primary_Business_Street_Address_Line2,Recipient_City,Recipient_State,Recipient_Zip_Code,Recipient_Country,Recipient_Province,Recipient_Postal_Code,Physician_Primary_Type,Physician_Specialty,Total_Amount_Invested_USDollars,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country,Dispute_Status_for_Publication
0,205 E River Park Circle,Ste 460,Fresno,CA,93720,United States,NaN,NaN,Medical Doctor,Allopathic & Osteopathic Physicians|Surgery,2500.00,WA,United States,No
1,3003 New Hyde Park Rd,Ste 307,New Hyde Park,NY,11042,United States,NaN,NaN,Medical Doctor,Other Service Providers/ Specialist,24999.69,WA,United States,No
2,3003 New Hyde Park Rd,Ste 307,New Hyde Park,NY,11042,United States,NaN,NaN,Medical Doctor,Other Service Providers/ Specialist,99998.74,WA,United States,No
3,5323 Harry Hines Blvd.,NaN,Dallas,TX,75390-9057,United States,NaN,NaN,Medical Doctor,Allopathic & Osteopathic Physicians|Ophthalmology,10000.00,TX,United States,No
4,345 E 80th St,NaN,New York,NY,10075,United States,NaN,NaN,Doctor of Dentistry,Dental Providers|Dentist|Oral and Maxillofacia...,1548787.00,NJ,United States,No

In [30]:
#Geography.groupby('Dispute_Status_for_Publication').count()
Geography['Recipient_Country].unique()

SyntaxError: EOL while scanning string literal (<ipython-input-30-d3bd565d8b86>, line 2)

In [25]:
import urllib
url = 'https://www.irs.gov/pub/irs-soi/14zpallagi.csv'
response = urllib.urlopen(url)
csv = response.read()
with open('data/Income.csv', 'wb') as f:
    f.write(csv)
    
income = pd.read_csv('data/Income.csv')