This notebook is sectioned by heading. There is a 'Tyler' section and a 'David' section. If we put our stuff in only our own section, we should be able to work on the same notebook with no issues.

Things to investigate:

- How many investments are by doctors who have multiple investments? (Tyler, done)

- Which states / zip codes are associated with the most investments? Does affluence of business zipcode correlate with doctor investment? (David, in progress)

- Which doctors have invested the most money? In the most companies?

- Which investments were made during or prior to 2015? What is the total sum of these different groups of investments?

- Which businesses hold the most investments from doctors? Are they geographically close to each other?

In [105]:
# library imports
import pandas as pd
import numpy as np
import matplotlib as plt

import locale # money formatting

In [96]:
locale.setlocale( locale.LC_ALL, '' )

'English_United States.1252'

In [3]:
#     GNRL is 6 gigabytes - too big
# record_general = pd.read_csv('data/OP_DTL_GNRL_PGYR2015_P01172017.csv')
#     RSRCH has hundred of bad columns - not good for class
# record_research = pd.read_csv('data/OP_DTL_RSRCH_PGYR2015_P01172017.csv')
#     REMOVED has very little data, so we're ignoring it for now
# record_removed = pd.read_csv('data/OP_REMOVED_DELETED_PGYR2015_P01172017.csv')

In [4]:
record_ownership = pd.read_csv('data/OP_DTL_OWNRSHP_PGYR2015_P01172017.csv')
record_ownership.shape

(4319, 29)

In [6]:
record_ownership.head()

,Change_Type,Physician_Profile_ID,Physician_First_Name,Physician_Middle_Name,Physician_Last_Name,Physician_Name_Suffix,Recipient_Primary_Business_Street_Address_Line1,Recipient_Primary_Business_Street_Address_Line2,Recipient_City,Recipient_State,...,Value_of_Interest,Terms_of_Interest,Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country,Dispute_Status_for_Publication,Interest_Held_by_Physician_or_an_Immediate_Family_Member,Payment_Publication_Date
0,UNCHANGED,333118,Kelvin,NaN,Higa,NaN,205 E River Park Circle,Ste 460,Fresno,CA,...,733.26,Not Publicly Traded - Common. 409a estimated ...,"Endogastric Solutions, Inc",100000010963,"Endogastric Solutions, Inc",WA,United States,No,Physician Covered Recipient,01/17/2017
1,UNCHANGED,270405,Spencer,NaN,Holover,NaN,3003 New Hyde Park Rd,Ste 307,New Hyde Park,NY,...,3070.52,Not Publicly Traded - Preferred. 409a estim...,"Endogastric Solutions, Inc",100000010963,"Endogastric Solutions, Inc",WA,United States,No,Physician Covered Recipient,01/17/2017
2,UNCHANGED,4927,Shawn,NaN,Garber,NaN,3003 New Hyde Park Rd,Ste 307,New Hyde Park,NY,...,12282.66,Not Publicly Traded - Preferred. 409a estim...,"Endogastric Solutions, Inc",100000010963,"Endogastric Solutions, Inc",WA,United States,No,Physician Covered Recipient,01/17/2017
3,UNCHANGED,132587,Yu-Guang,NaN,He,NaN,5323 Harry Hines Blvd.,NaN,Dallas,TX,...,330940.54,Direct ownership,"Vital Art and Science, LLC",100000005370,"Vital Art and Science, LLC",TX,United States,No,Physician Covered Recipient,01/17/2017
4,UNCHANGED,885629,Allan,NaN,Deutsch,NaN,345 E 80th St,NaN,New York,NY,...,1548787.00,fifty percent owner in reporting entity,ESSENTIAL DENTAL SYSTEMS INCORPORATED,100000005369,ESSENTIAL DENTAL SYSTEMS INCORPORATED,NJ,United States,No,Physician Covered Recipient,01/17/2017

## Tyler: How many investments are by doctors who have multiple investments?

In [5]:
doctors = pd.DataFrame([])
doctors['ID'] = record_ownership['Physician_Profile_ID']
doctors['First_Name'] = record_ownership['Physician_First_Name']
doctors['Middle_Name'] = record_ownership['Physician_Middle_Name']
doctors['Last_Name'] = record_ownership['Physician_Last_Name']

doctors.shape

(4319, 4)

In [6]:
doctors.head()

       ID First_Name Middle_Name Last_Name
0  333118     Kelvin         NaN      Higa
1  270405    Spencer         NaN   Holover
2    4927      Shawn         NaN    Garber
3  132587   Yu-Guang         NaN        He
4  885629      Allan         NaN   Deutsch

In [7]:
# sort by IDs (unneccessary)
doctors_sorted = doctors.sort_values('ID')
doctors_sorted.head()

        ID First_Name Middle_Name   Last_Name
3815   359    Douglas           K  Blacklidge
3919   571     Thomas           W   Childress
4204   869    Szilard         NaN        Kiss
3864  1073      Kevin         NaN  Gancarczyk
732   1182       ERIC           A       PIZZA

In [8]:
# count the unique IDs
uniq = len(doctors.ID.unique())
total = doctors.shape[0]

print str(uniq) + " unique physicians in data set of " + str(total) + " observations."
print str(total - uniq) + " observations are associated with physicians with 2 or more investments."

3870 unique physicians in data set of 4319 observations.
449 observations are associated with physicians with 2 or more investments.

## David: Which states / zip codes are associated with the most investments? Does affluence of business zipcode correlate with doctor investment?

In [9]:
record_ownership.columns.values
len(record_ownership)
#record_ownership['Program_Year'].unique()
#record_ownership['Terms_of_Interest'].head(25)
#record_ownership['Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name'].head(25)
#record_ownership['Interest_Held_by_Physician_or_an_Immediate_Family_Member'].head(25)

4319

In [10]:
Geography = record_ownership[['Recipient_Primary_Business_Street_Address_Line1', 'Recipient_Primary_Business_Street_Address_Line2', 
                             'Recipient_City', 'Recipient_State', 'Recipient_Zip_Code', 'Recipient_Country', 'Recipient_Province', 
                             'Recipient_Postal_Code', 'Physician_Primary_Type', 'Physician_Specialty', 'Total_Amount_Invested_USDollars',
                             'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State',
                             'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country',
                             'Dispute_Status_for_Publication'
                            ]]

Geography.head()

,Recipient_Primary_Business_Street_Address_Line1,Recipient_Primary_Business_Street_Address_Line2,Recipient_City,Recipient_State,Recipient_Zip_Code,Recipient_Country,Recipient_Province,Recipient_Postal_Code,Physician_Primary_Type,Physician_Specialty,Total_Amount_Invested_USDollars,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State,Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country,Dispute_Status_for_Publication
0,205 E River Park Circle,Ste 460,Fresno,CA,93720,United States,NaN,NaN,Medical Doctor,Allopathic & Osteopathic Physicians|Surgery,2500.00,WA,United States,No
1,3003 New Hyde Park Rd,Ste 307,New Hyde Park,NY,11042,United States,NaN,NaN,Medical Doctor,Other Service Providers/ Specialist,24999.69,WA,United States,No
2,3003 New Hyde Park Rd,Ste 307,New Hyde Park,NY,11042,United States,NaN,NaN,Medical Doctor,Other Service Providers/ Specialist,99998.74,WA,United States,No
3,5323 Harry Hines Blvd.,NaN,Dallas,TX,75390-9057,United States,NaN,NaN,Medical Doctor,Allopathic & Osteopathic Physicians|Ophthalmology,10000.00,TX,United States,No
4,345 E 80th St,NaN,New York,NY,10075,United States,NaN,NaN,Doctor of Dentistry,Dental Providers|Dentist|Oral and Maxillofacia...,1548787.00,NJ,United States,No

In [11]:
#Geography.groupby('Dispute_Status_for_Publication').count()
Geography['Recipient_Country'].unique()

array(['United States', 'United States Minor Outlying Islands',
       'United Arab Emirates'], dtype=object)

In [12]:
#import urllib
#url = 'https://www.irs.gov/pub/irs-soi/14zpallagi.csv'
#response = urllib.urlopen(url)
#csv = response.read()
#with open('data/Income.csv', 'wb') as f:
#    f.write(csv)
    
#Documentation at https://www.irs.gov/pub/irs-soi/14zpdoc.doc
income = pd.read_csv('data/Income.csv')
income.head()

IOError: File data/Income.csv does not exist

In [13]:
income = income[['STATE', 'zipcode', 'agi_stub']]
income = income[income['zipcode'] != 0]
#income.head()
income['zipcode'] = income['zipcode'].apply('{:0>5}'.format)
#income[income['zipcode'].apply(lambda x: len(str(x))) == 5]
Geography['zipcode'] = Geography['Recipient_Zip_Code'].apply(lambda s: str(s).split('-')[0]) #.str.split('-')

NameError: name 'income' is not defined

## Tyler: Which doctors have invested the most money? In the most companies?

In [29]:
# get a view of the data we want
temp = record_ownership[["Physician_Profile_ID",
                         "Physician_First_Name",
                         "Physician_Middle_Name",
                         "Physician_Last_Name",
                         "Total_Amount_Invested_USDollars",
                         "Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID",
                         "Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name"]]


# build the dataframe out of that view
doc_invest = pd.DataFrame(temp, copy=True)
doc_invest = doc_invest.rename(columns={"Physician_Profile_ID":"Physician_ID",
                                        "Total_Amount_Invested_USDollars":"Total_Invesment",
                                        "Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID":"Company_ID",
                                        "Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name":"Company_Name"})

doc_invest = doc_invest.astype({"Physician_ID":"string",
                                "Physician_First_Name":"string",
                                "Physician_Middle_Name":"string",
                                "Physician_Last_Name":"string",
                                "Company_ID":"string",
                                "Company_Name":"string"})

#doc_invest.head()
doc_invest.dtypes

Physician_ID              object
Physician_First_Name      object
Physician_Middle_Name     object
Physician_Last_Name       object
Total_Invesment          float64
Company_ID                object
Company_Name              object
dtype: object

In [52]:
# Dictionary to hold the doctor:total_investment data
investments = {}

for doctor in doc_invest["Physician_ID"].unique():
    investments[doctor] = np.sum(doc_invest["Total_Invesment"].where(doc_invest["Physician_ID"] == doctor))

len(investments)

3870

This matches our observation above: 3870 unique physicians in data set of 4319 observations. Which of these 3870 doctors holds the greatest total investments?

In [53]:
doc_invest.head()

,Physician_ID,Physician_First_Name,Physician_Middle_Name,Physician_Last_Name,Total_Invesment,Company_ID,Company_Name
0,333118,Kelvin,nan,Higa,2500.00,100000010963,"Endogastric Solutions, Inc"
1,270405,Spencer,nan,Holover,24999.69,100000010963,"Endogastric Solutions, Inc"
2,4927,Shawn,nan,Garber,99998.74,100000010963,"Endogastric Solutions, Inc"
3,132587,Yu-Guang,nan,He,10000.00,100000005370,"Vital Art and Science, LLC"
4,885629,Allan,nan,Deutsch,1548787.00,100000005369,ESSENTIAL DENTAL SYSTEMS INCORPORATED

In [102]:
# sort the docs
sorted_docs = sorted(investments.items(), # (doctor_id, value)
                     key=lambda x: x[1],  # sort on value
                     reverse=True)        # biggest to smallest

#print sorted_docs[:10]

# grab the doctor names via the ID
for doc, total in sorted_docs[:10]:
    #print "doctor: " + str(doc) + "\t\tinvested " + str(total)
    just_doc = doc_invest[doc_invest["Physician_ID"] == doc].head(1)
    
    doc_f = just_doc.get("Physician_First_Name").values[0]
    doc_m = just_doc.get("Physician_Middle_Name").values[0]
    doc_l = just_doc.get("Physician_Last_Name").values[0]
    
    if doc_m == "nan":
        doc_m = ""
    
    name = str(doc_f) + " " + str(doc_m) + " " + str(doc_l)
    id_n = "ID: " + str(doc).ljust(10)
    inv  = "has invested " + locale.currency(total, grouping = True)
    
    out_str = name.ljust(20) + id_n + inv
    print out_str

George  Lopez       ID: 1315076   has invested $199,733,425.11
Richard  Sherman    ID: 661336    has invested $10,714,540.75
Robert  Swinney     ID: 544922    has invested $6,295,918.17
John  Steinmann     ID: 355094    has invested $5,719,872.54
ARNOLD M SCHWARTZ   ID: 142810    has invested $4,808,777.18
Nicholas  Lembo     ID: 281680    has invested $3,740,111.98
FRANK  CAMMISA      ID: 329721    has invested $3,082,015.00
Michael  Hartman    ID: 122142    has invested $2,811,717.25
Michael  Kovalchik  ID: 622837    has invested $2,658,254.57
JOHN  THALGOTT      ID: 350823    has invested $2,411,752.00

We can see that the doctor wth the most investments is George Lopez, with nearly \$200mm total investments. Let's now plot a histogram of the total investments, and see how far away from the mean he is.

In [118]:
invs = []

for d, i in sorted_docs:
    invs.append(i)

sr = pd.Series(invs)
sr.plot.hist(40).plot()
#plt.plot(sr, kind='hist')

[]